{# templates/import/_results-csv.html.twig #}
<h2>Bank Transactions from CSV</h2>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Transaction Code</th>
            <th scope="col">Valid Transaction?</th>
            <th scope="col">Customer Number</th>
            <th scope="col">Reference</th>
            <th scope="col">Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for key, datem in data %}
            <tr>
                <th scope="row">{{ key + 1 }}</th>
                <td>{{ datem }}</td>
                <td>{{ 2 }}</td>
                <td>{{ 3 }}</td>
                <td>{{ 4 }}</td>
                <td>{{ 5 }}</td>
                <td>{{ 6 }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>