{# templates/import/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Importer App{% endblock %}
{% block heading %}Create New Import{% endblock %}

{% block page_contents %}
    <div class="row">
        <div class="col">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
