{# templates/import/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Importer App: Help{% endblock %}
{% block heading %}Help{% endblock %}

{% block page_contents %}
    <div class="row">
        <div class="col">
            <h3>Contact</h3>
            <h3>
                Mike Roberts <br/>
                <sub>✉️ mike dot roberts at hey dot com</sub>
            </h3>
            
            <q>Be most excellent to each other.</q>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <h3>Not implemented:</h3>
            <ul>
                <li>Form validation</li>
            </ul>
        </div>
    </div>
{% endblock %}
