{# templates/import/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Importer App: Help{% endblock %}
{% block heading %}Help{% endblock %}

{% block page_contents %}
    <div class="row">
        <div class="col">
            <h3>Downloads</h3>
            <ul>
                <li><a href="{{ path('import_help_sample') }}">📄 Sample Transactions Data</a></li>
            </ul>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <h3>Not implemented:</h3>
            <ul>
                <li>Form / input validation</li>
                <li>Currency class / object</li>
                <li>Tests</li>
            </ul>
        </div>
    </div>
{% endblock %}
