{# templates/import/index.html.twig #}
{% extends 'layout.html.twig' %}

{% block title %}Importer App: Help{% endblock %}
{% block heading %}Help{% endblock %}

{% block page_contents %}
    <div class="row">
        <div class="col">
            Here are some tips / help
        </div>
    </div>
{% endblock %}
